<div class="row">
    <div class="col">
        <img
            ng-src="{{product.picture}}"
            alt="{{product.description}}"
            title="{{product.description}}"
            class="img-thumbnail"
        />
    </div>
    <div class="col">
        <h2>{{ product.description }}</h2>
        <table class="table">
            <tr>
                <td>Name</td>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <td>Unit price</td>
                <td>{{ product.unit_price | currency : '₹ ': 0}}</td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>{{ product.discount }} %</td>
            </tr>
            <tr>
                <td>Quantity per unit</td>
                <td>{{ product.quantity_per_unit }}</td>
            </tr>
            <tr>
                <td>Brand</td>
                <td>{{ product.brand }}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{ product.category | uppercase }}</td>
            </tr>
        </table>

        <add-to-cart product="product"></add-to-cart>
    </div>
</div>
